#partnership{

    background-image: url("../src/assets/images/514056305_18365812996196814_7321307306569984120_n.jpeg");
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}